<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{selectedUser.name}}</h1>
            </div>
            <div class="modal-body">
                <p>{{selectedUser.email}} <br/> {{selectedUser.joined}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>