<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <ng-content select=".modal-header"></ng-content>
            </div>
            <div>
                <ng-content select=".modal-body"></ng-content>
            </div>
            <div>
                <ng-content select=".modal-footer"></ng-content>
            </div>
        </div>
    </div>
</div>