<div class="panel panel-default panel-primary">
    <modal-popup #viewModal>
        <div class="modal-header">
            <h1>{{viewModal.selectedUser.firstName}} {{viewModal.selectedUser.lastName}}</h1>
        </div>

        <div class="modal-body">
            <label><strong>Email: </strong></label>
            <span>{{viewModal.selectedUser.email}}</span><br />

            <label><strong>Joined: </strong></label>
            <span>{{viewModal.selectedUser.joined | date}}</span><br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="viewModal.hide()">Close</button>
        </div>
    </modal-popup>
    
    <modal-popup #createModal (onAddClicked)="this.onAddUser($event)">
        <div class="modal-header">
            <h1> Create User</h1>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <label class="col-sm-3"><strong>First Name: </strong></label>
                <input  class="entry input-group col-sm-5" required maxlength = "50" 
                        [(ngModel)]="createModal.selectedUser.firstName" 
                        name="FirstName" type="text" #firstname="ngModel"/>
                <br />

                <label class="col-sm-3"><strong>Last Name: </strong></label>
                <input  class="entry input-group col-sm-5" required maxlength = "50" 
                        [(ngModel)]="createModal.selectedUser.lastName" 
                        name="LastName" type="text" #lastname="ngModel"/>
                <br />

                <label class="col-sm-3"><strong>Username: </strong></label>
                <input  class="entry input-group col-sm-5" required maxlength = "50" 
                        [(ngModel)]="createModal.selectedUser.userName" 
                       name="UserName" type="text" #username="ngModel"/>
                <br />

                <label class="col-sm-3"><strong>Email: </strong></label>
                <input  class="entry input-group col-sm-5" required maxlength = "50" 
                       [(ngModel)]="createModal.selectedUser.email" name="email" type="text"
                        pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-]+$" #email="ngModel" />
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger" 
                     [hidden]="!email.errors.pattern">
                        Email field is required and must be valid
                </div>
                <br />
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="createModal.addUser(createModal.selectedUser)"
                    [disabled]=
                    "firstname.errors || lastname.errors || username.errors || email.errors">
                    Save Changes
            </button>
            <button type="button" class="btn btn-default" (click)="createModal.hide()">Cancel</button>
        </div>
    </modal-popup>

    <div class="panel-heading clearfix">
       <h3 class="panel-title pull-left">User Summaries</h3>
        <div class='btn-group pull-right'>
            <button class="btn btn-primary btn-sm" 
                    (click) ="createModal.showNoUser()"> Add User 
            </button>
        </div>
       
    </div>
    <div class="panel-body">
        <label> Filter Users:</label>
        <input class="well well-sm" type="text" [(ngModel)]="term" />
        <p *ngIf="!userList">No Current Users...</p>
        <user-summary *ngFor="let item of userList | myfilter: term"
                      [user]="item" (click)="viewModal.showUser(item)">
        </user-summary>
    </div>
</div>